:host {
  display: block;
  height: 100%;
}

.sidebar {
  height: 100%;
  background-color: #f8f9fa; /* Fondo claro para la versión por defecto */
}

.flex.items-center.p-2 {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.flex.items-center.p-2:hover {
  background-color: #e9ecef; /* Fondo más oscuro al pasar el ratón */
}
