header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
  }
  
  h1 {
    margin: 0;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(234, 171, 0);
  }
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .nav-link {
    margin-right: 10px;
  }