.main-layout {
  display: flex;
  height: 100vh;
}

app-sidebar {
  flex: 0 0 250px; /* Ancho fijo para el sidebar */
  height: 100vh; /* Altura completa de la ventana */
  background-color: #f8f9fa; /* Color de fondo */
  border-right: 1px solid #ddd; /* Borde derecho */
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* Permitir scroll si el contenido es muy grande */
}
