.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.bg-primary {
  background-color: #f8c300; /* Color principal de la marca */
}

.hover\:bg-primary-dark:hover {
  background-color: #cc9f00; /* Color más oscuro para el hover */
}

.focus\:ring-primary-light:focus {
  box-shadow: 0 0 0 4px rgba(248, 195, 0, 0.5); /* Sombra de foco con un color claro */
}

.text-primary {
  color: #f8c300; /* Color del texto principal */
}

.dark\:bg-primary {
  background-color: #f8c300; /* Mismo color para modo oscuro */
}

.dark\:hover\:bg-primary-dark:hover {
  background-color: #cc9f00; /* Hover en modo oscuro */
}

.dark\:focus\:ring-primary-light:focus {
  box-shadow: 0 0 0 4px rgba(248, 195, 0, 0.5); /* Foco en modo oscuro */
}
