.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.course-list {
  max-width: 100%;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.course-list:hover {
  transform: scale(1.05);
}

img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

.bg-primary {
  background-color: #f8c300;
}

.hover\:bg-primary-dark:hover {
  background-color: #cc9f00;
}

.focus\:ring-primary-light:focus {
  box-shadow: 0 0 0 4px rgba(248, 195, 0, 0.5);
}
