<div *ngIf="showMetaDialog" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-80">
    <h3 class="text-xl font-semibold mb-4 text-gray-800">Selecciona tu meta diaria</h3>
    <div class="flex flex-col space-y-2">
      <button (click)="setMetaDiaria(15)" class="bg-teal-500 hover:bg-teal-600 text-white py-2 px-4 rounded">15 minutos</button>
      <button (click)="setMetaDiaria(30)" class="bg-teal-500 hover:bg-teal-600 text-white py-2 px-4 rounded">30 minutos</button>
      <button (click)="setMetaDiaria(60)" class="bg-teal-500 hover:bg-teal-600 text-white py-2 px-4 rounded">1 hora</button>
      <button (click)="setMetaDiaria(180)" class="bg-teal-500 hover:bg-teal-600 text-white py-2 px-4 rounded">3 horas</button>
    </div>
  </div>
</div>




<section class="main">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 py-6">
    @for (course of _coursesService.dataCoursesCards(); track $index) {
      <div class="course-list max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg" src="assets/images/default-course.jpg" alt="{{ course.title }}">
        <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ course.title }}</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ course.introduction }}</p>
          <a (click)="enterCourse(course.id)" class="inline-flex items-center px-3 py-2 text-sm font-medium text-white bg-primary hover:bg-primary-dark focus:ring-4 focus:outline-none focus:ring-primary-light">
            Entrar
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-1-7V7a1 1 0 112 0v4a1 1 0 01-1 1h-2.293l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
    } @empty {
    <span class="sr-only">Loading...</span>
    }
  </div>
</section>
