.progress-wrapper {
    display: flex;
    justify-content: center; /* Centra la barra de progreso */
    align-items: center;
    margin-top: 20px;
    position: relative; /* Necesario para el posicionamiento absoluto de los textos */
  }
  
  .circular-chart {
    width: 200px;
    height: 200px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
  }
  
  .circle.red {
    stroke: #FF3E3E;
    stroke-dasharray: 75, 100; 
  }
  
  .circle.yellow {
    stroke: #FFC700;
    stroke-dasharray: 50, 100; 
    transform: rotate(-90deg);
    transform-origin: center;
  }
  
  .circle.blue {
    stroke: #4CC3D9;
    stroke-dasharray: 90, 100; /* Valor de porcentaje */
    transform: rotate(-90deg);
    transform-origin: center;
  }
  
  .percentages {
    display: flex;
    flex-direction: column;
    margin-left: 20px; /* Espacio entre los círculos y los textos */
    font-family: sans-serif;
    font-size: 1em;
  }
  
  .percentages div {
    margin-bottom: 5px; /* Espacio entre las líneas de texto */
  }
  